bluemix_noderedflow_code.txt
[{"id":"82f05dd2.08d19","type":"ibmiot in","z":"15289c77.5240a4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"dhtb827ebc8e326","applicationId":"","deviceType":"dht22sensor","eventType":"","commandType":"","format":"json","name":"DHT22 data from IBM IOT Platform","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":197.61107635498047,"y":693.1190748214722,"wires":[["3ec680d5.df8c4","af4d751d.9da198","22326088.c5fa9","5e34e318.b6e57c","ec62d43d.ca0c68"]]},{"id":"4649743e.07b83c","type":"websocket out","z":"15289c77.5240a4","name":"/ws/logger","server":"7bad051e.a44b4c","client":"","x":154.40476608276367,"y":893.8928737640381,"wires":[]},{"id":"b7c2b1ab.cf517","type":"http response","z":"15289c77.5240a4","name":"","x":130.58335876464844,"y":1113.2380924224854,"wires":[]},{"id":"2e2d5d76.61afc2","type":"http in","z":"15289c77.5240a4","name":"","url":"/logger","method":"get","swaggerDoc":"","x":150.9999656677246,"y":1006.3810319900513,"wires":[["3e45e1ad.04cd7e"]]},{"id":"3e45e1ad.04cd7e","type":"template","z":"15289c77.5240a4","name":"simple webpage","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n        <title>Live Display</title>\n        <style>\n            h1 {color:#CDCDCD;}\n            p {color:#CDCDCD;}\n        </style>\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js\"></script>\n        <script>\n        $(document).ready(function(){\n            var ws;\n            var wsUri=\"ws:\";\n            var loc = window.location;\n            console.log(loc);\n            if(loc.protocol === \"https:\") {wsUri = \"wss:\";}\n            wsUri+=\"//\" + loc.host + loc.pathname.replace(\"logger\",\"ws/logger\");\n            \n            function wsConnect(){\n                ws = new WebSocket(wsUri);\n                var line = \"\";\n                ws.onmessage = function(msg){\n                var data = JSON.parse(msg.data);\n                line= \"<p>\" + \"<b>Time:</b> \" + data.d.date +\"</p>\"+\n               \"<p>\" + \"<b>Temperature:</b> \" + data.d.temp + \"&#8451\" + \"</p>\"+\n               \"<p>\" + \"<b>Humidity:</b> \" + data.d.humidity + \"%\" +\"</p>\" + \n               \"<hr/>\";\n               $(\"#readings\").prepend(line);\n                    \n                }\n            }\n            $(\"button\").click(function(){\n                var value = $(\"button\").text();\n                if(value === \"Connect\"){\n                    $(\"#status\").html(\"Status: Connecting\");\n                    $(this).text(\"Disconnect\");\n                    wsConnect();\n                    ws.onopen = function(){\n                    $(\"#status\").html(\"Status: Connected\");\n                    }\n                    ws.onclose = function(){\n                    $(\"#status\").html(\"Status: Disconnected\");\n                    setTimeout=(wsConnect(), 3000);\n                    }\n                }\n                else{\n                    $(\"#status\").html(\"Status: Disconnecting\");\n                    $(this).text(\"Connect\");\n                    ws.close();\n                }\n            }); \n        });\n    </script>\n    </head>\n    <body style = \"background-color:#AF473C\">\n        <font face =\"Arial\">\n        <h1><center>Temperature & Humidity Logger</center></h1>\n        <br>\n        <button>Connect</button>\n        <br><br>\n        <div id=\"status\">Status: Disconnected</div>\n        <hr/>\n        <div id=\"readings\"></div> \n        </font>\n    </body>\n</html>\n    ","x":156.0000762939453,"y":1059.1310367584229,"wires":[["b7c2b1ab.cf517"]]},{"id":"b6091ab7.9d5ae8","type":"comment","z":"15289c77.5240a4","name":"use http to display data from websocket","info":"","x":244.11117935180664,"y":950.1309213638306,"wires":[]},{"id":"b3730885.4dd868","type":"comment","z":"15289c77.5240a4","name":"Send JSON data to websocket","info":"","x":198.73805618286133,"y":847.2141952514648,"wires":[]},{"id":"c0b4f4.9dd96b1","type":"e-mail","z":"15289c77.5240a4","server":"smtp.gmail.com","port":"465","name":"nstonny@gmail.com","dname":"E-mail notifications","x":1181.9763221740723,"y":824.0238456726074,"wires":[]},{"id":"5c6d4f45.90882","type":"function","z":"15289c77.5240a4","name":"Monitor temperature","func":"//send cold warning if temp <20\n//send hot warning if temp is >29\nvar tempThreshold = {\n    minTempThres : 19,\n    maxTempThres : 29\n};\nvar temp = msg.payload;\n\nif(context.value){\n    if(context.value > tempThreshold.minTempThres &&\n        context.value < tempThreshold.maxTempThres){\n        if(temp < tempThreshold.minTempThres){\n            msg.payload = \"Too cold at home! Current temperature = \"+ temp + \"C\";\n            context.value = temp;\n            return msg;\n        }\n        else if(temp > tempThreshold.maxTempThres){\n            msg.payload = \"Too hot at home! Current temperature = \"+ temp + \"C\";\n            context.value = temp;\n            return msg;\n        }\n    }\n}\nelse{\n    if(temp < tempThreshold.minTempThres){\n        msg.payload = \"Too cold at home! Current temperature = \"+ temp + \"C\";\n        context.value = temp;\n        return msg;\n    }\n    else if (tempStat.temp > tempThreshold.maxTempThres){\n        msg.payload = \"Too hot at home! Current temperature = \"+ temp + \"C\";\n        context.value = temp;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":940.9284400939941,"y":781.4048080444336,"wires":[["c0b4f4.9dd96b1"]]},{"id":"e0402352.3cb99","type":"function","z":"15289c77.5240a4","name":"Monitor humidity","func":"//send too dry warning if humidity <30\n//send too humid warning when humidity >50\nvar humidityThreshold = {\n    minHumidityThres : 30,\n    maxHumditiyThres : 50\n};\nvar humidity = msg.payload;\nif(context.value){\n    if(context.value> humidityThreshold.minHumidityThres &&\n        context.value < humidityThreshold.maxHumditiyThres){\n        if(humidity < humidityThreshold.minHumidityThres){\n            msg.payload = \"Too dry at home! Current humidity = \"+ humidity + \"%\";\n            context.value = humidity;\n            return msg;\n        }\n        else if(humidity > humidityThreshold.maxHumditiyThres){\n            msg.payload = \"Too humid at home! Current humidity = \"+ humidity + \"%\";\n            context.value = humidity;\n            return msg;\n        }\n    }\n}\nelse{\n    if(humidity < humidityThreshold.minHumidityThres){\n        msg.payload = \"Too dry at home! Current humidity = \"+ humidity + \"%\";\n        context.value = humidity;\n        return msg;\n    }\n    else if (humidity > humidityThreshold.maxHumditiyThres){\n        msg.payload = \"Too humid at home! Current humidity = \"+ humidity + \"%\";\n        context.value = humidity;\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":936.928409576416,"y":856.9405326843262,"wires":[["c0b4f4.9dd96b1"]]},{"id":"90b6e904.a317c8","type":"ui_chart","z":"15289c77.5240a4","name":"Chart: Temperature & Humidity","group":"f8dd6ede.c3d23","order":0,"width":"6","height":"5","label":"Temperature & Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"x":973.8810596466064,"y":1070.262128829956,"wires":[[],[]]},{"id":"3ec680d5.df8c4","type":"function","z":"15289c77.5240a4","name":"Inside temperature","func":"msg.payload = msg.payload.d.temp;\nmsg.topic = \"Temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":575.8333320617676,"y":781.3571939468384,"wires":[["5c6d4f45.90882","90b6e904.a317c8","c3892d60.a81ab","38502492.5060ac"]]},{"id":"22326088.c5fa9","type":"function","z":"15289c77.5240a4","name":"Inside humidity","func":"msg.payload = msg.payload.d.humidity;\nmsg.topic = \"Humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":560.1190147399902,"y":855.6429328918457,"wires":[["e0402352.3cb99","90b6e904.a317c8","22b16d9c.c74932","38502492.5060ac"]]},{"id":"38502492.5060ac","type":"function","z":"15289c77.5240a4","name":"Setup notification","func":"context.value = context.value || {};\nswitch (msg.topic) {\n    case \"Temperature\":\n        context.value.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"Humidity\":\n        context.value.humidity = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\n// if(context.value.temperature !== null && context.value.humidity !== null && context.value.temperature !== undefined && context.value.humidity !== undefined) {\nif(context.value.temperature && context.value.humidity) {\n    msgOut = \"\"; //new Object();\n    msgOut = \"Inside: Temperature : \";\n    msgOut += context.value.temperature.toString(); \n    msgOut+= \"°C - Humidity : \"; \n    msgOut+= context.value.humidity.toString();\n    msgOut+= \"%\";\n    context.value=null;\n    var msg = {};\n    msg.payload = msgOut;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":924.3571281433105,"y":1170.9287204742432,"wires":[["b34700c8.c10f9"]]},{"id":"af4d751d.9da198","type":"debug","z":"15289c77.5240a4","name":"Raw data","active":true,"console":"false","complete":"payload","x":559.6428985595703,"y":593.5476970672607,"wires":[]},{"id":"c3892d60.a81ab","type":"ui_gauge","z":"15289c77.5240a4","name":"Gauge: Temperature","group":"9e0d5a7c.bbbd78","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":934.1191444396973,"y":962.1668434143066,"wires":[]},{"id":"22b16d9c.c74932","type":"ui_gauge","z":"15289c77.5240a4","name":"Gauge: Humidity","group":"9e0d5a7c.bbbd78","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":924.1191349029541,"y":1017.8811359405518,"wires":[]},{"id":"b34700c8.c10f9","type":"ui_toast","z":"15289c77.5240a4","position":"top right","displayTime":"5","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Dashboard notification","x":1170.7857093811035,"y":1170.785816192627,"wires":[]},{"id":"2e5b4efa.3a8e42","type":"inject","z":"15289c77.5240a4","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":141.1904576619466,"y":202.42857964833576,"wires":[["86d446c5.260638"]]},{"id":"5e34e318.b6e57c","type":"function","z":"15289c77.5240a4","name":"Get date from global context","func":"var date = global.get(\"date\");\nmsg.payload = {d:{\"date\" : date.toUTCString(), \n\"temp\": msg.payload.d.temp, \"humidity\": msg.payload.d.humidity}};\nreturn msg;","outputs":1,"noerr":0,"x":198.50001525878906,"y":788.5000629425049,"wires":[["4649743e.07b83c"]]},{"id":"743c7de4.6dd0c4","type":"openweathermap in","z":"15289c77.5240a4","name":"Weather for Essen, DE","lon":"","lat":"","city":"Essen","country":"DE","language":"en","x":159.49994659423828,"y":415.99998235702515,"wires":[["f04c52d5.8bd62","24c6d781.58d048"]]},{"id":"4e622938.35b8a8","type":"comment","z":"15289c77.5240a4","name":"Outside temperature & humidity","info":"","x":194.99996185302734,"y":289.1666760444641,"wires":[]},{"id":"8ffd877a.a8b098","type":"ui_gauge","z":"15289c77.5240a4","name":"Gauge: Temperature","group":"3b74118c.0ea28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"","format":"{{value}}°C","min":"-10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"x":737.8332595825195,"y":388.9999852180481,"wires":[]},{"id":"74c7bf25.196ee","type":"ui_gauge","z":"15289c77.5240a4","name":"Gauge: Humidity","group":"3b74118c.0ea28e","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":736.1666870117188,"y":452.3333435058594,"wires":[]},{"id":"f04c52d5.8bd62","type":"function","z":"15289c77.5240a4","name":"Outside humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":414.4999771118164,"y":452.66664934158325,"wires":[["74c7bf25.196ee"]]},{"id":"24c6d781.58d048","type":"function","z":"15289c77.5240a4","name":"Outside temperature","func":"msg.payload = msg.payload.tempc\nreturn msg;","outputs":1,"noerr":0,"x":424.49991607666016,"y":389.3332896232605,"wires":[["8ffd877a.a8b098"]]},{"id":"e3528f74.3e4cc","type":"comment","z":"15289c77.5240a4","name":"Server date and time","info":"","x":160.83334350585938,"y":88.3333568572998,"wires":[]},{"id":"a0a135e3.5531b8","type":"comment","z":"15289c77.5240a4","name":"Inside temperature & humidity","info":"","x":187.83334350585938,"y":552.833251953125,"wires":[]},{"id":"86d446c5.260638","type":"function","z":"15289c77.5240a4","name":"Get date object","func":"var date = new Date();\nglobal.set(\"date\",date);\nmsg.payload = date;\nreturn msg;","outputs":1,"noerr":0,"x":336.9999694824219,"y":202.66665649414062,"wires":[["d4fdcb29.2faee8"]]},{"id":"41f5b40f.b06a4c","type":"comment","z":"15289c77.5240a4","name":"Monitor and send E-mail when thresholds are crossed","info":"","x":1041.8333892822266,"y":731.8334131240845,"wires":[]},{"id":"1157fadc.e47c45","type":"comment","z":"15289c77.5240a4","name":"Inside: Dashboard displays","info":"","x":959.8333778381348,"y":904.5001640319824,"wires":[]},{"id":"ec389c14.535a7","type":"comment","z":"15289c77.5240a4","name":"Dashboard notification for inside","info":"","x":969.8334045410156,"y":1122.8335056304932,"wires":[]},{"id":"d4cc5fe6.a76ad","type":"comment","z":"15289c77.5240a4","name":"Extracts temperature and humidity","info":"","x":625.8334045410156,"y":738.5001220703125,"wires":[]},{"id":"b5fb101c.6c594","type":"comment","z":"15289c77.5240a4","name":"Format for dashboard display","info":"","x":630.0000228881836,"y":149.3333339691162,"wires":[]},{"id":"a087c1b2.36b82","type":"comment","z":"15289c77.5240a4","name":"Use API key to connect to Openweathermap","info":"","x":226.16661834716797,"y":352.66666555404663,"wires":[]},{"id":"549ef6a8.8f8f08","type":"comment","z":"15289c77.5240a4","name":"Date set to global context","info":"","x":370.0000190734863,"y":149.9999942779541,"wires":[]},{"id":"9ab301e7.33626","type":"comment","z":"15289c77.5240a4","name":"Outside: Dashboard displays","info":"","x":755.4999313354492,"y":336.0000195503235,"wires":[]},{"id":"ec62d43d.ca0c68","type":"mongodb out","z":"15289c77.5240a4","service":"_ext_","mongodb":"bdc6b246.f332d","name":"Mongodb save","collection":"","payonly":true,"upsert":false,"multi":false,"operation":"store","x":572.5000400543213,"y":686.1667499542236,"wires":[]},{"id":"fbb7c0c9.eacf2","type":"comment","z":"15289c77.5240a4","name":"save raw data to database","info":"","x":606.5475997924805,"y":645.785758972168,"wires":[]},{"id":"c5a88b7f.e88988","type":"ui_template","z":"15289c77.5240a4","group":"9fba428c.42f1a","name":"Day & Time Display","order":0,"width":"5","height":"2","format":"<!DOCTYPE html>\n<center>\n<div>{{msg.payload.day}}</div>\n<div>\n    <font size = \"10\">{{msg.payload.time}}</font>\n</div>\n</center>","storeOutMessages":true,"fwdInMessages":true,"x":843.5000114440918,"y":202.75000286102295,"wires":[[]]},{"id":"d4fdcb29.2faee8","type":"function","z":"15289c77.5240a4","name":"Format day and time","func":"var monthNames = [\n  \"January\", \"February\", \"March\",\n  \"April\", \"May\", \"June\", \"July\",\n  \"August\", \"September\", \"October\",\n  \"November\", \"December\"\n];\nvar dayNames = [\n  \"Sunday\",\"Monday\", \"Tuesday\", \"Wednesday\",\n  \"Thursday\", \"Friday\", \"Saturday\"\n];\n\n//format date\nvar day = dayNames[msg.payload.getDay()]+\", \"+\nmsg.payload.getDate()+\" \"+monthNames[msg.payload.getMonth()]+\n\" \"+msg.payload.getFullYear();\n\n//format time\nvar hours = (\"0\"+ (msg.payload.getHours()+1)).slice(-2);\nvar minutes = (\"0\"+ msg.payload.getMinutes()).slice(-2);\nvar seconds = (\"0\"+ msg.payload.getSeconds()).slice(-2);\nvar time = (hours + \":\"+\nminutes+ \":\" +\nseconds).toString();\n\nmsg.payload = {\"day\":day, \"time\":time};\nreturn msg;","outputs":1,"noerr":0,"x":599.6666717529297,"y":202.66666793823242,"wires":[["c5a88b7f.e88988"]]},{"id":"7bad051e.a44b4c","type":"websocket-listener","z":"","path":"/ws/logger","wholemsg":"false"},{"id":"f8dd6ede.c3d23","type":"ui_group","z":"","name":"Inside: Chart","tab":"5fbf2106.f8003","order":4,"disp":true,"width":"6"},{"id":"9e0d5a7c.bbbd78","type":"ui_group","z":"","name":"Inside: Gauges","tab":"5fbf2106.f8003","order":2,"disp":true,"width":"6"},{"id":"3b74118c.0ea28e","type":"ui_group","z":"","name":"Outside: Gauges","tab":"5fbf2106.f8003","order":3,"disp":true,"width":"6"},{"id":"bdc6b246.f332d","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"test","name":""},{"id":"9fba428c.42f1a","type":"ui_group","z":"","name":"Time","tab":"5fbf2106.f8003","order":1,"disp":true,"width":"6"},{"id":"5fbf2106.f8003","type":"ui_tab","z":"","name":"Home Weather Monitor, Location: Essen, DE","icon":"home","order":2}]