raspi_noderedflow_code.txt
[{"id":"964db1a4.06715","type":"inject","z":"7b2e96cf.547f38","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":106.66668701171875,"y":205.33328247070312,"wires":[["3558a604.258a72"]]},{"id":"1f96abe5.bb352c","type":"debug","z":"7b2e96cf.547f38","name":"","active":true,"console":"false","complete":"false","x":863.750244140625,"y":120.95236206054688,"wires":[]},{"id":"3558a604.258a72","type":"rpi-dht22","z":"7b2e96cf.547f38","name":"DHT22 sensor","topic":"rpi-dht22","dht":22,"pintype":"0","pin":4,"x":330.13885498046875,"y":204.83328247070312,"wires":[["78b6a234.584f94"]]},{"id":"78b6a234.584f94","type":"function","z":"7b2e96cf.547f38","name":"format msg payload","func":"msg = {\n    payload:JSON.stringify({\n    d:{\n        \"temp\": msg.payload,\n        \"humidity\": msg.humidity\n        }\n                            }\n    )\n};\nreturn msg;","outputs":1,"noerr":0,"x":600.4602966308594,"y":204.91659545898438,"wires":[["1f96abe5.bb352c","c50d8885.9c406"]]},{"id":"5e5ba5a0.ac1efc","type":"comment","z":"7b2e96cf.547f38","name":"trigger DHT22 data and send to IBM IOT Platform","info":"","x":221.86114501953125,"y":128.74996948242188,"wires":[]},{"id":"c50d8885.9c406","type":"wiotp out","z":"7b2e96cf.547f38","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"121d23fb.ba209c","deviceType":"dht22sensor","deviceId":"dhtb827ebc8e326","event":"event","format":"json","name":"send to IBM IOT Platform","x":907.27783203125,"y":288.75,"wires":[]},{"id":"121d23fb.ba209c","type":"wiotp-credentials","z":"","name":"gateway","org":"xvy3wa","devType":"RasPi","devId":"b827ebc8e326"}]